In [251]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
df = pd.read_csv('main_task.xls')
df.columns

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [ ]:
# for i in df[df['Price Range'].isna() == True]['Price Range']:
#     print(i)
# for i in df['Price Range']:
#     print(i)
#df['Price Range'].value_counts()
df

In [3]:
#len(df['City'].value_counts())
df['Cuisine Style'] = df['Cuisine Style'].fillna('Nothing')

In [4]:
list_cuisin = []
for i in df['Cuisine Style']:
    i = i.strip("[]")
    i = i.replace("\'", '')
    i = i.split(", ")
    list_cuisin.append(i)

In [8]:
df['Cuisine Style'] = list_cuisin
df['cuis_len'] = df['Cuisine Style'].apply(lambda x: len(x))

In [9]:
df = df.explode('Cuisine Style')

In [42]:
df['Cuisine Style'].value_counts()
df['Reviews'][0]

0    [['Good food at your doorstep', 'A good hotel ...
0    [['Good food at your doorstep', 'A good hotel ...
0    [['Good food at your doorstep', 'A good hotel ...
Name: Reviews, dtype: object

In [52]:
review_dates = []

for i in df['Reviews']:
    result = re.findall(r'\d{2}/\d{2}/\d{4}', i)
    review_dates.append(result)

In [62]:
df['review dates'] = review_dates

In [65]:
df = df.explode('review dates')

In [69]:
max_review = pd.to_datetime(df['review dates'])

In [85]:
max_review.max()

Timestamp('2018-02-26 00:00:00')

In [90]:
differ = []
for i in review_dates:
    if len(i) == 2:
        differ.append(pd.to_datetime(i[0])-pd.to_datetime(i[1]))

In [104]:
a = pd.to_datetime(1)-pd.to_datetime(0)
for i in differ:
    if i > a:
        a = i
a

Timedelta('3207 days 00:00:00')

In [403]:
df = pd.read_csv('main_task.xls', low_memory = False)
df['Cuisine Style'] = df['Cuisine Style'].fillna('Nothing')
list_cuisin = []
for i in df['Cuisine Style']:
    i = i.strip("[]")
    i = i.replace("\'", '')
    i = i.split(", ")
    list_cuisin.append(i)
df['Cuisine Style'] = list_cuisin
df['cuis_len'] = df['Cuisine Style'].apply(lambda x: len(x))
review_dates = []
for i in df['Reviews']:
    result = re.findall(r'\d{2}/\d{2}/\d{4}', i)
    review_dates.append(result)
df['Review difference'] = review_dates
df['# of reviews'] = df['Review difference'].apply(lambda x: len(x))
dif_list = df['Review difference'].apply(lambda x: pd.to_datetime(x[0])-pd.to_datetime(x[1]) if len(x) == 2 else pd.to_datetime(0)-pd.to_datetime(0))
weekday = df['Review difference'].apply(lambda x: pd.to_datetime(x[0]).weekday() if len(x)==2 or len(x)==1 else -1)
df['weekday1st review'] = weekday
df['Review difference'] = dif_list.dt.days
df['Price Range'] = df['Price Range'].fillna(0)

def sign_to_value(x):
    if x == '$$ - $$$':
        return 2
    elif x == '$':
        return 1
    elif x == '$$$$':
        return 3
    else:
        return 0
    
list_of = df['Price Range'].apply(lambda x: sign_to_value(x))
df['Price value'] = list_of

dsa = set()
for i in df['Cuisine Style']:
    for q in i:
        dsa.add(q)
for i in dsa:
    df[i] = 0
for index, row in df.iterrows():
    for i in row['Cuisine Style']:
        df[i][index] = 1
        
df1 = pd.get_dummies(df.City)
for i in df1:
    df[i] = df1[i]

<ipython-input-403-61ff9ce97b9c>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][index] = 1

In [407]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,...,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
0,id_5569,Paris,"[European, French, International]",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,...,0,0,0,1,0,0,0,0,0,0
1,id_1535,Stockholm,[Nothing],1537.0,4.0,0,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,...,0,0,0,0,0,0,1,0,0,0
2,id_352,London,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,Berlin,[Nothing],3458.0,5.0,0,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,...,0,0,0,0,0,0,0,0,0,0
4,id_615,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"[Italian, Vegetarian Friendly, Vegan Options, ...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,...,0,0,0,0,0,0,0,0,0,0
39996,id_6340,Paris,"[French, American, Bar, European, Vegetarian F...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,...,0,0,0,1,0,0,0,0,0,0
39997,id_1649,Stockholm,"[Japanese, Sushi]",1652.0,4.5,0,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,...,0,0,0,0,0,0,1,0,0,0
39998,id_640,Warsaw,"[Polish, European, Eastern European, Central E...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,...,0,0,0,0,0,0,0,0,1,0
39999,id_4824,Milan,[Spanish],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,...,0,0,0,0,0,0,0,0,0,0